<div id="<%= dom_id destinatario %>">
  <p>
    <strong>Nome:</strong>
    <%= destinatario.nome %>
  </p>

  <p>
    <strong>Data nascimento:</strong>
    <%= destinatario.data_nascimento %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= destinatario.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= destinatario.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= destinatario.telefone %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= destinatario.endereco_id %>
  </p>

</div>
