<div id="<%= dom_id remetente %>">
  <p>
    <strong>Nome:</strong>
    <%= remetente.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= remetente.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= remetente.telefone %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= remetente.endereco_id %>
  </p>

</div>
