<p style="color: green"><%= notice %></p>

<%= render @remetente %>

<div>
  <%= link_to "Edit this remetente", edit_remetente_path(@remetente) %> |
  <%= link_to "Back to remetentes", remetentes_path %>

  <%= button_to "Destroy this remetente", @remetente, method: :delete %>
</div>
