<div id="<%= dom_id encomenda %>">
  <p>
    <strong>Peso:</strong>
    <%= encomenda.peso %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= encomenda.status %>
  </p>

  <p>
    <strong>Data entrega:</strong>
    <%= encomenda.data_entrega %>
  </p>

  <p>
    <strong>Destinatario:</strong>
    <%= encomenda.destinatario_id %>
  </p>

  <p>
    <strong>Remetente:</strong>
    <%= encomenda.remetente_id %>
  </p>

</div>
